[run]

source = 
        ../acquisitors/
        ../candidates/
        ../collectors/
        ../databases/
        ../environments/
        ../evaluators/
        ../generators/
        ../helpers/
        ../models/
        ../postprocessors/
        ../samplers/
        ../utils/
        ../

omit = 
        ../utils/notebook_batch_analysis.py
        ../utils/jupyter_interactive.py
        ../test/*
        ../postprocessors/mpi_relax.py
        ../local/*
        ../helpers/post_analysis_methods.py

parallel = False

[report]
# Regexes for lines to exclude from consideration
exclude_lines =

    # Don't complain about abstract methods, they aren't run:
    @(abc\.)?abstractmethod

show_missing = True
skip_empty = True